APP_NAME=Impressoras
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://127.0.0.1:8000

LOG_CHANNEL=stack

# pronto para docker-compose
DB_CONNECTION=mysql
DB_HOST=mariadb
DB_PORT=3306
DB_DATABASE=impressoras
DB_USERNAME=impressoras
DB_PASSWORD=impressoras

########## REPLICADO ##########
REPLICADO_HOST=
REPLICADO_PORT=
REPLICADO_DATABASE=
REPLICADO_USERNAME=
REPLICADO_PASSWORD=
REPLICADO_CODUNDCLG=
REPLICADO_SYBASE=1
REPLICADO_FAKER=1
REPLICADO_PATHLOG="../storage/logs/replicado.log"

########## USP-THEME ##########
USP_THEME_SKIN=uspdev

########### SENHAUNICA-SOCIALITE ##########
# No /etc/hosts do seu computador colocar a linha 127.0.0.1 auth.local
SENHAUNICA_KEY=faker
SENHAUNICA_SECRET=faker
SENHAUNICA_CALLBACK_ID=1
SENHAUNICA_ADMINS=111111
SENHAUNICA_DEV="http://auth.local:3141/wsusuario/oauth"
SENHAUNICA_DEBUG=true


########## QUOTAS ##########
CUPS_SERVER_IP=cups
PRINTING_DRIVER=cups
CUPS_SERVER_USERNAME=admin
CUPS_SERVER_PASSWORD=admin

#Ativa o uso do replicado para obter os monitores (default: true)
#REPLICADO_MONITORES=true

#Lista os monitores caso REPLICADO_MONITORES=false (default: vazio)
#MONITORES=
IMPRESSORAS_CODSLAMON=22

########## WSFOTO ##########
WSFOTO_DISABLE=true
WSFOTO_USER=SEU_USER
WSFOTO_PASS=SEU_SECRET

#Tempo de espera para o processamento do job (default: 45)
#GS_TIMEOUT=45

########## NÃO USAMOS ##########
BROADCAST_DRIVER=log
CACHE_DRIVER=file
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=120

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_DRIVER=smtp
MAIL_HOST=smtp.mailtrap.io
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
PUSHER_APP_CLUSTER=mt1

MIX_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
MIX_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"


