#!/usr/bin/php

<?php

/* Conexão com mysql */
define( 'MYSQL_HOST', '{{ quotadb_host}}' );
define( 'MYSQL_USER', '{{ quotadb_user}}' );
define( 'MYSQL_PASSWORD', '{{ quotadb_password }}' );
define( 'MYSQL_DB_NAME', '{{ quotadb_dbname}}' );
$pdo_options  = array(PDO::ATTR_ERRMODE => PDO::ERRMODE_EXCEPTION,PDO::ATTR_DEFAULT_FETCH_MODE => PDO::FETCH_ASSOC);
$PDO = new PDO( 'mysql:host=' . MYSQL_HOST . ';dbname=' . MYSQL_DB_NAME, MYSQL_USER, MYSQL_PASSWORD,$pdo_options );

/* Pega os dados do job */
$jobid = getenv('TEAJOBID');
$user = getenv('TEAUSERNAME');
$filename = getenv('TEATITLE');
$copies = getenv('TEACOPIES');
$datafile = getenv('TEADATAFILE');
$printer  = getenv("TEAPRINTERNAME");
$pages = 0;

/* Registrar que está na fila */
$sql = "INSERT INTO printings (jobid, user, filename, copies, pages, printer, created_at, updated_at, status) VALUES (:jobid, :user, :filename, :copies, :pages, :printer, :created_at, :updated_at, :status)";

$created_at = date("Y-m-d H:i:s");
$updated_at = date("Y-m-d H:i:s");

$status = 'Processando';

$stmt = $PDO->prepare( $sql );
$stmt->bindParam( ':jobid', $jobid, PDO::PARAM_INT);
$stmt->bindParam( ':user', $user, PDO::PARAM_STR );
$stmt->bindParam( ':filename', $filename, PDO::PARAM_STR );
$stmt->bindParam( ':copies', $copies, PDO::PARAM_INT);
$stmt->bindParam( ':pages', $pages, PDO::PARAM_INT );
$stmt->bindParam( ':printer', $printer, PDO::PARAM_STR );
$stmt->bindParam( ':status', $status );
$stmt->bindParam( ':created_at', $created_at );
$stmt->bindParam( ':updated_at', $updated_at );
$stmt->execute();

/* Contar páginas e verifica permissão */
$pages = shell_exec("/usr/bin/pkpgcounter $datafile");
$n = $pages*$copies;
$pode = file_get_contents("https://quotas.fflch.usp.br/check/{$user}/{$printer}/{$n}");

/* Atualiza status */
$sql = "UPDATE printings SET pages=:pages, status=:status, updated_at=:updated_at WHERE jobid=:jobid";
$updated_at = date("Y-m-d H:i:s");

if($pode == 'sim') {
    $status = 'Fila';
    $stmt = $PDO->prepare( $sql );
    $stmt->bindParam( ':jobid', $jobid, PDO::PARAM_INT);
    $stmt->bindParam( ':pages', $pages, PDO::PARAM_INT );
    $stmt->bindParam( ':status', $status );
    $stmt->bindParam( ':updated_at', $updated_at );
    $stmt->execute();
    exit(0);
}
else {
    $status = 'Cancelado';
    $stmt = $PDO->prepare( $sql );
    $stmt->bindParam( ':jobid', $jobid, PDO::PARAM_INT);
    $stmt->bindParam( ':pages', $pages, PDO::PARAM_INT );
    $stmt->bindParam( ':status', $status );
    $stmt->bindParam( ':updated_at', $updated_at );
    $stmt->execute();
    exit(1);
}

